header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  border-bottom: 1px solid #657690;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  background: #efefef;

  a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #4a556b;
    outline: 0;

    &:hover {
      color: #252736;
    }
  }

  ul {
    list-style: none;
    align-self: end;
    height: 100%;
    padding: 2rem;

    li {
      display: inline-block;
      margin-left: 2rem;
    }
  }
}
